$size_onecol : 320px;
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	width: 100%;
	background-color: #F0F0F0;
}

.blocks{
	width: 960px;
	position: relative;
	margin: auto;
	transform-style:preserve-3d;
	font-family: "Source Sans pro";
}

.block{
	min-width: $size_onecol;
	height: $size_onecol;
	position:absolute;
	overflow:hidden;
	box-sizing: border-box;
}

/////////////////
// GENERIC STYLES
/////////////////
.addblock{
	display: table;
	visibility: hidden;
	opacity: 0;
	&.opened{
		visibility: visible;
		opacity: 1;
		.icons_container{
			transform:translateY(0);
			opacity: 1;
		}
	}
	transition:all 0.25s;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index:2000;
	top: 0;
	left: 0;
	text-align: center;
	
	.icons_container{
		display: table-cell;
		vertical-align: middle;
		transform:translateY(-50px);
		transition:all 0.35s;
		opacity: 0;
	}

	.icon_container{
		position: relative;
		width: 120px;
		height: 120px;
		display: inline-block;
		transition:all 0.4s;
		transform:translateY(0px);
		margin:15px 10px;

		&:hover{
			transform:translateY(-5px);
		}
		.icon{
			position: absolute;
			top: 0;
			left: 0;

			path{ stroke: #FFF; }
		    path.fill{ fill: #FFF; }
		}
		.mini{
			margin:auto;
			bottom: 0;top: 0;right: 0;left: 0;
		}

		&:hover{
			path{ stroke: url(#gradient); }
		    path.fill{ fill: url(#gradient); }
		    cursor:pointer;
		}
		span.icon_title{
			position: absolute;
			bottom: -20px;left: -40px;right: 0;margin:auto;
			color:#FFF;
			font-size: 16px;
			display: block;
			width: 200px;
			text-align: center;
		}
	}
}
.block{
	
	overflow: visible;
	perspective: 1000;

	.block_wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform-style: preserve-3d;

		transition:all 0.5s !important;
		transform:rotateX(0deg) perspective(600px);
	}

	.block_container,.block_backface{
		backface-visibility: hidden;
		overflow: hidden;
	}

	.block_title{
		text-transform: uppercase;
		font-size: 15px;
		color:#FFF;
		margin-bottom: 4px;
	}
	.block_edit,.block_save,.block_delete{
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 10px;
		z-index:200;
		border-radius: 3px;
		border: 1px solid #FFF;
		color:#FFF;
		padding:3px 5px;
		text-transform: capitalize;
		&:hover{
			cursor:pointer;
		}
	}

	.block_delete{
		border:none;
		top:27px;
		opacity:0.8;
	}

	.block_save{
		bottom: 30px;
		right: 30px;
		top: auto; left: auto;
		padding:5px;
		transition:all 0.2s;
		width: 35px;
		overflow: hidden;
		z-index: 100;

		p{
			position: relative;
			top: 0;
			display:block;
			float:left;
			margin:0;
			padding:0;
		}

		.spinner{
			opacity: 0;
			width: 0;
			height: 0;
			transition:opacity 0.5s 0.25s !important;
		}

		&.opened{
			width: 70px;
			.spinner{
				opacity: 1;
				width: 45px;
				padding-left: 20px;
				// transition:opacity 0.5s !important;
			}
			// transition:all 0.2s 0.5s !important;
		}
	}

	.block_container,.block_backface{
		padding:30px 8px 30px 30px;
		// z-index:50;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;height: 100%;
	}

	> div{
		z-index:10;
	}

	.block_container{ transform:rotateX(0deg); }
	.block_backface{ transform:rotateX(180deg); }

	&.isEditing .block_wrapper{
		transform:rotateX(180deg);
	}

	.block_title,.block_content{
		position: relative;
		z-index:100;
	}

	.block_content{
		// white-space: pre-line;
		overflow: hidden;
		padding-right: 22px;
	}
	
	.block_content{height: 100%;width: 100%;display: block;}
	.block_content .valign{
		display: table-cell;
		vertical-align: middle;
	}

	.block_backface{
		.block_content{
			padding-bottom: 50px;
		}
		.inputblock{
			&.midwidth{
				width: 50%;
				float:left;

				&:nth-child(odd){padding-right:15px;}
				&:nth-child(even){padding-left:15px;}
			}

			margin:10px 0;
			input{
				width: 100%;
				border:0;
				height:30px;
				// background-color: rgba(155,155,155,0.25);
				padding-left: 10px;
				padding-top: 0px;
				font-size: 13px;
				outline: none;
			}
			textarea{
				font-size: 13px;
				outline: none;
				border: 0;
				width: 100%;
				min-height: 80px;
				padding:10px;
			}
			p{
				color:#FFF;
				font-size: 14px;
				margin: 10px 0;
			}

			input,textarea{
				background-color: rgba(155,155,155,0.2);
				color:rgb(155,155,155);
			}

			::-webkit-input-placeholder { font-size: 13px; color: rgba(155,155,155,1); color:rgba(155,155,155,1); }
		}
	}
}

//////////////////////
// BLOCKS TYPES STYLES
//////////////////////

.block.type_content .block_container, .block.type_content .block_backface{
	background-color: #FAFAFA;

	h3.content_title{
		font-size: 20px;
		font-weight: 400;
		color:#434343;
	}
	p.content_text{
		font-size: 15px;
		line-height: 150%;
		font-weight: 300;
		color:#7B7B7B;
	}
}

.block.type_twitteruser{
	.inputblock input,.inputblock textarea{
		
	}
	.gradient{
		position: absolute;
		width: 200%;
		top:-100%;
		right:-100%;
		height:200%;
		background: -webkit-radial-gradient(center, ellipse cover, #4ad9e7 0%,#adeca5 100%); /* Chrome10+,Safari5.1+ */

	}
	.content_name{
		color:#FFF;
		font-size: 24px;
		font-weight: 600;
		line-height: 100%;
		margin-top: 20px;
	}
	.content_hashtag{
		color:#FFF;
		font-size: 14px;
		font-weight: 400;
		line-height: 0;
		margin-top: -13px;
	}
	.content_description{
		margin-top: 27px;
		color:#FFF;
		font-size: 14px;
		font-weight: 400;
	}
	.content_image{
		width: 100px;
		height: 100px;
		display:block;
		background-size: cover;
		background-position: center center;
		border-radius:200px;
		border:3px solid #FFF;

		margin:25px auto 0 auto;
	}

}

.block.type_image{
	.image{
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
	}
	.block_backface{
		background-color: #FAFAFA;
	}
}

.block.type_twitterfeed .block_container,.block.type_twitterfeed .block_backface{
	background-color: #BDF1F7;

	.content_tweet{

	}

	h4.content_tweet_title{
		font-size: 15px;
		color:#5C5C5C;	
		font-weight: 400;
		line-height: 150%;
	}

	.content_tweet_subtitle{
		font-size: 11px;
		color:#8E8D8D;	
		font-weight: 300;
		line-height: 0;
		margin-top: -10px;
		margin-bottom: 25px;
	}
}

.block.type_rssfeed .block_container,.block.type_rssfeed .block_backface{
	background-color: #FFD5A7;

	.content_feed{

	}

	h4.content_feed_title{
		font-size: 15px;
		color:#5C5C5C;	
		font-weight: 400;
		line-height: 150%;
	}

	.content_feed_source{
		font-size: 11px;
		color:#8E8D8D;	
		font-weight: 300;
		line-height: 0;
		margin-top: -10px;
		margin-bottom: 25px;
	}
}

.block.type_link .block_backface{
	input,textarea{background-color: rgba(0,0,0,0.2) !important;}
}
.block.type_link .block_container,.block.type_link .block_backface{
	background-color: #868686;
	
	.valign{
		text-align: center;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		padding-right: 22px;
		height: 150px;
		margin:auto;
	}
	.link_title{

		color:#FFF;
		font-size: 20px;
		font-weight: 600;
		margin:0;
	}
	.link_url{
		font-size: 12px;
		color:rgba(255,255,255,0.5);
	}
	.content_linkiconcontainer{
		width: 80px;
		height: 80px;
		border:1px solid #FFF;
		border-radius:100px;
		position: relative;
		margin:auto;
		margin-bottom: 40px;
	}

	.content_linkicon{
		width:40px;
	    height:40px;
	    path{
	        stroke: #FFF;
	        fill: none;
	        stroke-width: 0.08em;
	        stroke-linecap: round;
	        stroke-linejoin: round;
	    }
	    path.fill {
	        stroke-width: 0;
	        fill: #000;
	    }
	    position: absolute;
	    margin: auto;
	    left: 0;top: 0;right: 0;bottom: 0;
	    transform:rotate(-45deg);
	}
}

.block.type_wikipedia .block_container, .block.type_wikipedia .block_backface{
	background-color: #FAFAFA;

	h3.content_title{
		font-size: 20px;
		font-weight: 400;
		color:#434343;
	}
	p.content_text{
		font-size: 15px;
		line-height: 150%;
		font-weight: 300;
		color:#7B7B7B;
	}
}


.type_wikipedia,.type_content,.type_image{
	.block_title{
		color:#D1D1D1;
	}
	.spinner > div{
		background-color:#000 !important;
	}
	.block_edit,.block_save{
		border: 1px solid #000000;
		color:#000000;
	}
	.inputblock p{
		color:#7B7B7B !important;
	}
}

// SPINNER 

.spinner {
	margin: 0 auto 0;
	width: 0px;
	text-align: center;
	transition: all 0.5s;
	display: block;

	opacity: 1;
	visibility: visible;
	width: 35px;
	height:auto;

}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// ----------------------
// == Module/Icons
// ----------------------

.icon{
    width:40px;
    height:40px;
    path{
        stroke: #000;
        fill: none;
        stroke-width: 0.14em;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    path.fill {
        stroke-width: 0;
        fill: #000;
    }
    &:hover{
        path{
            stroke: url(#gradient);
        }
        path.fill{
            fill: url(#gradient);
        }
    }
}

.icon-small{
    height: 20px;
    width: 20px;
}

.icon-large{
    width:70px;
    height:70px;
    path{
        stroke-width: 0.14em;
    }
}

.icon-slarge{
	width: 120px;
	height: 120px;
	path{
        stroke-width: 0.04em;
    }
}
.icon.gradient{
    path{
        stroke: url(#gradient);
    }
    path.fill{
        fill: url(#gradient);
    }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    to{
        -webkit-transform: rotate(360deg);
    }

}