<div class="image block_container" bg-img="{{block.var}}">
	<div class="block_edit" ng-click="block.isEdit = !block.isEdit" ng-show="editMode">EDIT</div>
</div>
<section class="block_backface" ng-show="editMode">
	<header class="block_title">Block edition</header>
	<header class="block_delete" ng-click="deleteBlock($index)">
		<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="icon icon-small">
		  <path d="M15.2,30.8l-1-17.9 M24.8,30.8l1-17.9 M20,30.8V12.8"/>
		  <path class="emphasize" d="M29.2,34.5H10.9 L9.4,9h21.2L29.2,34.5z M34.5,9h-3.6 M9.2,9H5.5 M24.5,8.7V5.5h-9.1v3.2"/>
		</svg>
	</header>
	<section class="block_content">
		<article class="inputblock">
			<p>Image URL</p>
			<input type="text" placeholder="http://..." ng-model="block.var" ng-keyup="onChevre($index)">
		</article>
	</section>
	<div ng-click="saveBlock($index)" class="block_save" ng-class="{'opened': block.isLoading}">
		<p>SAVE</p>
		<blockspinner/>
	</div>
</section>